# Virtual environment
.venv/
env/
venv/

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*.pyo
*.pdf
*.xlsx

# Jupyter
.ipynb_checkpoints/

# OS-specific
.DS_Store

# Logs and temporary files
*.log

# Data (ignore raw, keep processed if needed)
data/raw/
!data/.gitkeep

config.py
experimental_utils.py
submissions/